:root {
    --titulo: #c89800;
    --texto: #002e5f;
    --bgColor: #ffffff;
    --bgImagen: #eeeeee;
    --headerAndFooter: #002e5f;
    --paddingH: 5vw;
    --imageFullSize: 66.66vw;
    --circleSize: 6vw;
}
@media (width >= 480px) {
    :root {
        --circleSize: 3.5vw;
    }
}

body {
    background-color: var(--bgColor);
    font-family: HelveticaNeueRegular, HelveticaNeue-Regular, "Helvetica Neue Regular", HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
    color: #0272B7;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 1.7em;
    color: var(--titulo);
    padding-right: var(--paddingH);
}

h2 {
	font-size: 1.4em;
    color: var(--texto);
}

h3 {
	font-size: 1.2em;
    color: #1d3557;
}

h4 {
	font-size: 1em;
    color: #1d3557;
}

/*HEADER*/
.logo{
    padding-left: var(--paddingH);
    height: 80px;
    align-content: center;
}

.banner{
    background-color: var(--headerAndFooter);
    padding-left: var(--paddingH);
    padding-top: calc(25px - 0.7em) ;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

/*SIMULADOR*/
.simulation{
    display: flex;
    height: calc(100vh - 3vh - 130px);
    flex-direction: column-reverse;
    justify-content: space-between;
}
@media (width >= 480px) {
    .simulation{
        flex-direction: row-reverse;
        height: calc(97vh - 130px);
    }
}

.dis{
    flex-direction: column;
    width: 90vw;
    padding-left: var(--paddingH);
    padding-right: var(--paddingH);
    align-self: center;
}
@media (width >= 480px){
    .dis{
        width: calc(100vw - var(--imageFullSize));
    }
}


.image{
    background-color: var(--bgImagen);
    width: 100vw;
    align-content: center;
}
@media (width >= 480px) {
    .image{
        width: var(--imageFullSize);
    }        
}

.image-inner {
    position: relative;
    width: 90%;
    margin: 0 auto;      /* centrado dentro de .image */
}

.image-inner img{        
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.circulo {
    position: absolute;
    width: var(--circleSize);
    height: var(--circleSize);
    border-radius: 50%;
    background-color: rgba(0, 46, 95, 0.4); /* rojo semi-transparente */
    opacity: 0;
}

.circulo-activo {opacity: 1;}

#c1  {top: 20%;     left: 14%;   }
#c2  {top: 25%;     left: 22.5%; }
#c3  {top: 37%;     left: 19%;   }
#c4  {top: 45%;     left: 27.5%; }
#c5  {top: 60%;     left: 10%;   }
#c6  {top: 27.5%;   left: 5%;    }
#c7  {top: 60%;     left: 28%;   }
#c8  {top: 27.5%;   left: 32.5%; }
#c9  {top: 75%;     left: 12.5%; } /*13 izquierdo*/
#c10 {top: 75%;     left: 26%;   } /*13 derecho*/
#c11 {top: 7%;      left: 12.5%; } /*17 cuello*/
#c12 {top: 20%;     left: 57.5%; } /*8 espalda*/
#c13 {top: 20%;     left: 88%;   } /*6 espalda*/
#c14 {top: 60%;     left: 65%;   } /*7 espalda*/
#c15 {top: 60%;     left: 82.5%; } /*5 espalda*/

/*WIFI*/
.gr{
	color: green;
}
.rd{
	color: red;
}

#ap_ssid_label, #ap_ssid {
	display:inline;
}

#ap_ssid {
	color: #1d3557;
}

#connected_ap_label, #connected_ap {
    display: inline;
}

#ip_address_label, #netmask_label, #gateway_label {
    display: inline;
}

#wifi_connect_ip, #wifi_connect_netmask, #wifi_connect_gw {
    display: inline;
}

#connected_ap {
	color: #1d3557;
}

#wifi_connect_ip {
	color: #1d3557;
}

#wifi_connect_netmask {
	color: #1d3557;
}

#wifi_connect_gw {
	color: #1d3557;
}

#disconnect_wifi {
    display: none;
}

/*INPUTS*/

.buttons {
    padding: 5px 0;
}

input{
	font-size: 20px;
    height: 55px;
    width: 100%;
    margin-top: 5px;
    padding: 5px 0;
}

input[type="button"] {
    font-weight: bold;
	border: 0;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    background-color: var(--texto);
}

input[type="button"]:hover {
    background-color: RGBA(112,164,222,0.68);
}

input[type="button"]:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

input[type="text"], input[type="password"]{
    border-width: 0.1px;
    border-radius: 10px;
    height: 45px;
}

input[type="checkbox"]{
    position: relative;
    margin-left: -25px;
    width: 15px;
}

#execute_simulation{
    margin-top: 55px;
}

select {
    width: calc(100% - 2*var(--paddingH));
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 25px) center,
        calc(100% - 15px) center;
    background-size:
        10px 10px,
        10px 10px;     
    background-repeat: no-repeat;
    position: absolute;
}
@media (width >= 480px) {
    select{
        width: calc(101.7vw - var(--paddingH) - var(--imageFullSize));
    }        
}
  
select:focus {
    background-image:
        linear-gradient(45deg, gray 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, gray 50%);
    background-position:
        calc(100% - 15px) top,
        calc(100% - 25px) top;
    background-position-y: 
        20px;
    height: 275px;
}


/*FOOTER*/
footer{
    background-color: var(--headerAndFooter);
    color: #c89800;
    height: 3vh;
    padding: 0;
    padding-left: var(--paddingH);
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer p{
    margin: calc((3vh - 18px)/2);
    margin-left: 0;
}

.flexx{
    display:flex;
}









