:root {
    --titulo: #c89800;
    --texto: #002e5f;
    --bgColor: #ffffff;
    --bgImagen: #eeeeee;
    --headerAndFooter: #002e5f;
    --paddingH: 5vw;
    --imageFullSize: 66.66vw
}

body {
    background-color: var(--bgColor);
    font-family: HelveticaNeueRegular, HelveticaNeue-Regular, "Helvetica Neue Regular", HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
    color: #0272B7;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 1.7em;
    color: var(--titulo);
    padding-right: var(--paddingH);
}

h2 {
	font-size: 1.4em;
    color: var(--texto);
}

h3 {
	font-size: 1.2em;
    color: #1d3557;
}

h4 {
	font-size: 1em;
    color: #1d3557;
}

/*HEADER*/
.logo{
    padding-left: var(--paddingH);
    height: 80px;
    align-content: center;
}

.banner{
    background-color: var(--headerAndFooter);
    padding-left: var(--paddingH);
    padding-top: calc(25px - 0.7em) ;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

/*SIMULADOR*/
.simulation{
    display: flex;
    height: calc(100vh - 3vh - 130px);
    flex-direction: column-reverse;
    justify-content: space-between;
}
@media (width >= 480px) {
    .simulation{
        flex-direction: row-reverse;
        height: calc(97vh - 130px);
    }
}

.dis{
    flex-direction: column;
    width: 90vw;
    padding-left: var(--paddingH);
    padding-right: var(--paddingH);
    align-self: center;
}
@media (width >= 480px){
    .dis{
        width: calc(100vw - var(--imageFullSize));
    }
}


.image{
    background-color: var(--bgImagen);
    width: 100vw;
    align-content: center;
}
@media (width >= 480px) {
    .image{
        width: var(--imageFullSize);
    }        
}

.image img{        
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
}

/*INPUTS*/

.buttons {
    padding: 5px 0;
}

input{
	font-size: 20px;
    height: 55px;
    width: 100%;
    margin-top: 5px;
    padding: 5px 0;
}

input[type="button"] {
    font-weight: bold;
	border: 0;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    background-color: var(--texto);
}

input[type="button"]:hover {
    background-color: RGBA(112,164,222,0.68);
}

input[type="button"]:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#execute_simulation{
    margin-top: 55px;
}

select {
    width: calc(100% - 2*var(--paddingH));
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 25px) center,
        calc(100% - 15px) center;
    background-size:
        10px 10px,
        10px 10px;     
    background-repeat: no-repeat;
    position: absolute;
}
@media (width >= 480px) {
    select{
        width: calc(101.7vw - var(--paddingH) - var(--imageFullSize));
    }        
}
  
select:focus {
    background-image:
        linear-gradient(45deg, gray 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, gray 50%);
    background-position:
        calc(100% - 15px) top,
        calc(100% - 25px) top;
    background-position-y: 
        20px;
    height: 275px;
}


/*FOOTER*/
footer{
    background-color: var(--headerAndFooter);
    color: #c89800;
    height: 3vh;
    padding: 0;
    padding-left: var(--paddingH);
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer p{
    margin: calc((3vh - 18px)/2);
    margin-left: 0;
}

.flexx{
    display:flex;
}









